$bg-color: #FDFDFD;
$primary-color: #475BA2;
$secondary-color: #F3F5F7;
$text-color: #000000;
$online-status: #58D15D;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$large-font-size: 56px;
$small-font-size: 17px;
$medium-font-size: 32px